
.aboutus{
    height: 100vh;
    background: FFFFFF, 100%;
    justify-content: center;
    
}

.aboutus__aboutus{

font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 54px;
text-align: center;
font-family: Open Sans;
padding-top: 40px;

}
.aboutus__aboutusinfo {

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
text-align: center;
padding-top: 20px 0 20px;
}




.random {
    margin: 0% 15% 0%;
    
}
.aboutus__aboutus{
    position: relative;
    padding-bottom: 40px;
}
.aboutus__aboutus:before{
    content: "";
    background: linear-gradient(180deg, #EDB17B 0%, rgba(237, 177, 123, 0.9) 100%);
    border-radius: 40px;
    display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;

}
.aboutus__aboutus:after{
    content: "";
    background: linear-gradient(180deg, #EDB17B 0%, rgba(237, 177, 123, 0.9) 100%);
    border-radius: 40px;
    display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;

}
h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h1:after {
    left: 0.5em;
    margin-right: -50%;
  }